.navcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 8px 36px;
  height: 10vh;
}

.navlogo {
  width: 60px;
  height: 60px;
  margin: 4px;
  font-size: 45px;
  border: solid 5px var(--accent);
}

.navsearch {
  height: 40px;
  width: 250px;
  margin: 8px;
  margin-right: 0px;
  padding: 0px 12px;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 32px 0px 0px 32px;
}

.navsearchbtn {
  height: 40px;
  background-color: var(--accent);
  padding: 0px 12px;
  border: none;
  border-radius: 0px 32px 32px 0px;
  cursor: pointer;
}

.navsearchbtn:hover {
  background-color: var(--highlight);
}

.navbtncontainer {
  margin-left: auto;
  display: flex;
}

.navbtn {
  background-color: var(--accent);
  margin: auto 4px;
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
}

.navbtn:hover {
  background-color: var(--highlight);
}

.navprofile {
  width: 50px;
  height: 50px;
  margin-left: 8px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
}
