.searchgroup {
  height: 26vh;
  padding: 20px 60px;
}

.searchgroup h4 {
  margin: 0;
}

.listcontainer {
  display: flex;
  align-items: center;
  height: 20vh;
  margin: 20px 40px;
  overflow-x: scroll;
  overflow-y: none;
  background-color: #111;
  /* scrollbar-width: none; */
  /* box-shadow: inset -12px 0px 12px -12px #000; */
}

.listitem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  height: 18vh;
  min-width: 18vh;
  max-width: 18vh;
  margin: 0px 30px;
  padding: 8px;
  border: 2px solid var(--highlight);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.listitem:hover {
  background-color: var(--highlight);

  height: 19vh;
  min-width: 19vh;
  max-width: 19vh;
}
